@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: transparent;
    height: 100%;
  }
}

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
